streamlit
requests
numpy
pandas==2.2.3
Requests==2.32.3
supabase
json
paho.mqtt.publish
pandas
streamlit_autorefresh
plotly.express
paho.mqtt.client
paho.mqtt
datetime
time
pytz
timedelta
tenacity
socket
requests.exceptions
retry